.collapsable-menu {
    padding: 10px 30px;
    /* border-bottom: 1px solid #CDE700; */
    /* box-shadow: 1px 2px 3px; */
    /* background-color: rgb(255, 255, 255); */
    display: inline-block;
}

.collapsable-menu .anchor {
    font-size: 23px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    align-self: flex-end;
    padding: 5px 50px 5px 10px;
    /* align-content: right; */
    /* border: 1px solid #ccc; */
}

.collapsable-menu .anchor:after {
    position: absolute;
    content: "";
    text-align: right;

    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.collapsable-menu ul#items {
    padding: 10px;
    display: none;
    margin: 0;
    /* border: 1px solid #ccc; */
    border-top: none;
    font-size: 18px;
}

.collapsable-menu ul#items li {
    margin: 3px;
    list-style: none;
}

.collapsable-menu ul#items button {
    margin: 3px;
    list-style: none;
    font-size: 18px;
}

.collapsable-menu.visible .anchor {
    /* color for anchor when opened*/
    /* color: #0094ff;  */
}

.collapsable-menu.visible #items {
    display: block;
}
