<!DOCTYPE html>
<html>
  <head>
    <title>Example: Overpass-API with Leaflet.js</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <link rel="stylesheet" href="/static/sliding_menu.css" />
  </head>
  <body>
    <div id="map">
        <div class="leaflet-control-container">
            <div class="leaflet-top leaflet-right">
                <div id="overpass-api-controls" class="leaflet-bar leaflet-control collapsable-menu">

                    <div id="list1" class="collapsable-menu" tabindex="100">
                        <span class="anchor">Select Fruits</span>
                        <ul class="items">
                            <li><input type="checkbox" />Apple </li>
                            <li><input type="checkbox" />Orange</li>
                            <li><input type="checkbox" />Grapes </li>
                            <li><input type="checkbox" />Berry </li>
                            <li><input type="checkbox" />Mango </li>
                            <li><input type="checkbox" />Banana </li>
                            <li><input type="checkbox" />Tomato</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://unpkg.com/osmtogeojson@2.2.12/osmtogeojson.js"></script>
    <script src="/static/index.js"></script>
    <script src="/static/sliding_menu.js"></script>
  </body>
</html>
